<div id="<%= dom_id dynamic_template %>">
  <p>
    <strong>Body:</strong>
    <%= dynamic_template.body %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= dynamic_template.path %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= dynamic_template.format %>
  </p>

  <p>
    <strong>Locale:</strong>
    <%= dynamic_template.locale %>
  </p>

  <p>
    <strong>Handler:</strong>
    <%= dynamic_template.handler %>
  </p>

  <p>
    <strong>Partial:</strong>
    <%= dynamic_template.partial %>
  </p>

</div>
