<p style="color: green"><%= notice %></p>

<%= render @dynamic_template %>

<div>
  <%= link_to "Edit this dynamic template", edit_dynamic_template_path(@dynamic_template) %> |
  <%= link_to "Back to dynamic templates", dynamic_templates_path %>

  <%= button_to "Destroy this dynamic template", @dynamic_template, method: :delete %>
</div>
